.header {
  flex: 1;
  margin-bottom: 1.5rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.searchLabel {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex: 1;
}

.searchIcon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #666;
}

.searchInput {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
  font-size: 1rem;
}


.title {
  font-size: 2rem;
}